body{
    background-color: gray;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.col-md-7{
    background-color: white;
}

.col-md-5{
    background-color: white;
}
.resume-header{
    background-color: wheat;
}

.motto{
    color: mediumpurple;
<<<<<<< HEAD
}

.contact-icon{
    width: 10%;
    height: auto;
    padding: 2%;
=======
>>>>>>> df3d33ff81448672af0cccc8d3ccd949ce44450e
}